<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="db.zeffect.cn.dblibrary">

    <application>
        <provider
            android:name=".db.DbProvider"
            android:authorities="${applicationId}.cn.zeffect.db.provider"
            android:exported="true"></provider>
    </application>

</manifest>
